@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: 255 211 63;
        --secondary: 244 93 2;
        --accent: 16 37 66;
        --content: 0 0 0;
        --background: 255 255 255;
        --background-sec: 244 248 251;
        --edge: 212 216 217;
    }
    h1 {
        @apply text-4xl font-bold;
    }
    h2 {
        @apply text-2xl font-bold;
    }
    h3 {
        @apply text-lg font-bold;
    }
    hr {
        @apply border-edge;
    }
    input,
    textarea {
        @apply py-2.5 px-4 rounded-lg border text-content focus:outline-none w-full xs:w-auto;
    }
    /* Scrollbar Styling */
    ::-webkit-scrollbar {
        @apply w-2 h-2;
    }
    ::-webkit-scrollbar-track {
        @apply bg-content/10 rounded-full;
        -webkit-border-radius: 8px;
    }
    ::-webkit-scrollbar-thumb {
        @apply bg-primary rounded-full;
        -webkit-border-radius: 8px;
    }
}

@layer components {
    .container {
        @apply px-6 mx-auto;
    }
    .section-gap {
        @apply py-12 sm:py-14 lg:py-16;
    }
    .box {
        @apply shadow rounded-lg px-5 py-4;
    }
    .bg-overly {
        @apply absolute w-full h-full inset-0 -z-[1];
    }
    .gradient-text {
        @apply text-transparent bg-gradient-to-r from-primary to-secondary bg-clip-text;
    }
}

.border-gradient-bg-white {
    background: linear-gradient(to right, #ffffff, #ffffff), linear-gradient(to bottom, #ffd33f, #f45d02);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}
.border-gradient-bg-primary {
    background: linear-gradient(to right, #ffd33f, #ffd33f), linear-gradient(to bottom, #ffd33f, #f45d02);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}
.border-size {
    border: 2px solid transparent;
}
