@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: 255 211 63;
        --secondary: 244 93 2;
        --accent: 16 37 66;
        --content: 0 0 0;
        --background: 255 255 255;
        --edge: 212 216 217;
    }
    h1 {
        @apply text-4xl font-bold;
    }
    h2 {
        @apply text-2xl font-bold;
    }
    h3 {
        @apply text-lg font-bold;
    }
    h4 {
        @apply font-bold;
    }
    hr {
        @apply border-edge;
    }
    input,
    select {
        @apply py-2 px-3 rounded-lg text-content focus:outline-none;
    }
    button,
    .button {
        @apply block w-max py-2 px-3 rounded-lg text-content text-center font-medium focus:outline-none;
    }
    /* Scrollbar Styling */
    ::-webkit-scrollbar {
        @apply w-2 h-2;
    }
    ::-webkit-scrollbar-track {
        @apply bg-content/10 rounded-full;
        -webkit-border-radius: 8px;
    }
    ::-webkit-scrollbar-thumb {
        @apply bg-primary rounded-full;
        -webkit-border-radius: 8px;
    }
}

@layer components {
    .container {
        @apply px-6 mx-auto;
    }
    .box {
        @apply shadow rounded-lg px-5 py-4;
    }
    .bg-overly {
        @apply absolute w-full h-full inset-0 -z-[1];
    }
}
